.mymetadata
.checkstyle
.idea
.class
.war
.zip
.rar
.idea
*.iml
*.log
*.txt
/WebContent/WEB-INF/classes/*
target/
logs/
src/main/webapp/WEB-INF/classes/
canalmate-api/src/main/resources/generatorConfig_chh.xml
canalmate-api/src/main/resources/generatorConfig.xml
canalmate-api/target
canalmate-api/.classpath
canalmate-api/.factorypath
canalmate-client/target
canalmate-client/.classpath
canalmate-client/.factorypath
canalmate-common/target
canalmate-common/.classpath
canalmate-common/.factorypath