.mymetadata
.checkstyle
.idea
.class
.war
.zip
.rar
.idea
*.iml
*.log
*.txt
/WebContent/WEB-INF/classes/*
target/
logs/
src/main/webapp/WEB-INF/classes/
canalmate-api/src/main/resources/generatorConfig_chh.xml
canalmate-api/target
canalmate-client/target
canalmate-common/target