# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
*.docpom.xml
*.log
*.cache
*.diff
*.patch
*.tmp
*.txt

# system ignore
.DS_Store
Thumbs.db

*.class

# this ingore
canalmate-api/src/main/resources/generatorConfig_chh.xml
canalmate-api/target
canalmate-client/target
canalmate-common/target
canalmate-api/.settings/
canalmate-api/.apt_generated/
canalmate-api/.classpath
canalmate-api/.factorypath
canalmate-api/.project
canalmate-client/.settings/
canalmate-client/.apt_generated/
canalmate-client/.classpath
canalmate-client/.factorypath
canalmate-client/.project
canalmate-common/.settings/
canalmate-common/.apt_generated/
canalmate-common/.classpath
canalmate-common/.factorypath
canalmate-common/.projectrm
canalmate-api/bin
canalmate-client/bin
canalmate-common/bin